@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-image: url("/images/bg-intro-desktop.png");
  background-color: #ff7a7a;
  color: white;
}

.container {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro,
.sign-up {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro h1 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
}

.sign-up {
  text-align: center;
}

.sign-up button {
  width: 87.5%;
  color: white;
  background-color: #6055a5;
  border: 1px solid #6055a5;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px rgba(62, 60, 73, 0.3);
          box-shadow: 0 5px rgba(62, 60, 73, 0.3);
}

.sign-up button:hover {
  cursor: pointer;
}

.sign-up button span {
  font-weight: 600;
}

.sign-up form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 8px;
}

.sign-up form input {
  width: 85%;
  margin: 8px 0;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #ededed;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.sign-up form input:focus {
  border: 1px solid #b9b6d3;
  outline: none;
}

.sign-up form input.invalid {
  border: 2px solid #ff7a7a;
  background-image: url("/images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 95% 8px;
}

.sign-up form span.error {
  display: block;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  font-size: 11px;
  font-style: italic;
  color: #ff7a7a;
}

.sign-up form input[type="button"] {
  width: 98%;
  text-transform: uppercase;
  background-color: #38cc8c;
  color: white;
  border: 1px solid #38cc8c;
  -webkit-box-shadow: 0 3px #30bb7f;
          box-shadow: 0 3px #30bb7f;
}

.sign-up form input[type="button"]:hover {
  cursor: pointer;
  background-color: #61d6a3;
  border: 1px solid #61d6a3;
}

.sign-up form p {
  font-size: 11px;
  font-weight: 500;
  color: rgba(96, 85, 165, 0.5);
}

.sign-up form p a {
  font-weight: 600;
  text-decoration: none;
  color: #ff7a7a;
}

.sign-up form p a:hover {
  cursor: pointer;
}

footer p.attribution {
  font-size: 11px;
  text-align: center;
}

footer p.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */