// Colors
  $white: hsl(0, 0%, 100%);
  $mediumBlue: hsl(228, 45%, 44%);
  $gray: hsl(0, 0%, 93%);
  $green-lighten: lighten(hsl(154, 59%, 51%), 10%);
  $green-darken: darken(hsl(154, 59%, 51%), 5%);

  //Primary
  $red: hsl(0, 100%, 74%);
  $green: hsl(154, 59%, 51%);

  //Accent
  $blue: hsl(248, 32%, 49%);

  // Neutral
  $darkBlue: hsl(249, 10%, 26%);
  $grayishBlue: hsl(246, 25%, 77%);

