@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import 'colors';
@import 'font';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $regular;
  background-image: url('/images/bg-intro-desktop.png');
  background-color: $red;
  color: $white;
}

.container {
  // width: 100%;
  // height: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro, 
.sign-up {
  flex: 1;
}

.intro {
  h1 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: $bold;
  }
}

.sign-up {
  text-align: center;

    button {
      width: 87.5%;
      color: $white;
      background-color: $blue;
      border: 1px solid $blue;
      border-radius: 8px;
      padding: 14px;
      margin-bottom: 20px;
      box-shadow: 0 5px rgba($darkBlue, 0.3);

      &:hover {
        cursor: pointer;
      }

      span {
        font-weight: $semi-bold;
      }
    }

    form {
      width: 80%;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $white;
      border-radius: 8px;

      input {
        width: 85%;
        margin: 8px 0;
        padding: 10px 25px;
        border-radius: 5px;
        border: 1px solid $gray;
        font-family: $font-family;
        font-weight: $medium;
        
        

        &:focus {
          border: 1px solid $grayishBlue;
          outline: none;
        }
        
        &.invalid {
          border: 2px solid $red;
          background-image: url('/images/icon-error.svg');
          background-repeat: no-repeat;
          background-position: 95% 8px;
        }
      }

      

      span.error {
        display: block;
        width: 100%;
        text-align: right;
        padding-right: 20px;
        font-size: 11px;
        font-style: italic;
        color: $red;
      }

      input[type="button"] {
        width: 98%;
        text-transform: uppercase;
        background-color: $green;
        color: $white;
        border: 1px solid $green;
        box-shadow: 0 3px $green-darken;

        &:hover {
          cursor: pointer;
          background-color: $green-lighten;
          border: 1px solid $green-lighten;
        }
      }

      p {
        font-size: 11px;
        font-weight: $medium;
        color: rgba($blue, 0.5);

        a {
          font-weight: $semi-bold;
          text-decoration: none;
          color: $red;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
}

footer {
  p.attribution {
    font-size: 11px; 
    text-align: center;

    a {
      color: $mediumBlue;
    }
  }
}